* {
    font-size: 16px;
}

body {
  background-color: #ACACFF;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    max-width: 560px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}

h1 {
    font-size: 1.8em;
    color: #3A0070;
}

.video {
    position: relative;
    height: 0px;
    margin-left:  -10px;
    margin-right: -10px;
    margin-bottom: 36px;
    padding-bottom: 60%;
    background-color: #3A0070;
}

iframe {
 position: absolute;
 top: 5%;
 left: 5%;
 width: 90%;
 height: 90%;
}
